<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/login.css}" />
    
</head>
<body>

<div id="feedback-form">
    <h2>Login</h2>

    <p th:if="${error}" th:text="${error}" style="color: red; font-weight: bold;"></p>

    <form action="#" th:action="@{/auth/validatelogin}" method="post">

        <label>Username</label>
        <input type="text" name="username" required>

        <label>Password</label>
        <input type="password" name="password" required>

        <button type="submit">Login</button>
    </form>
</div>

</body>
</html>
